name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out..
        uses: actions/checkout@v3
      - name: Setuping node and installing deps
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      - name: Linting
        run: yarn lint
      - name: Testing
        run: yarn test:ci
